body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 0, 0);
    padding: 10px;

    h2 {
        color: blueviolet;
    }

    input {

        display: block;
        margin: 5px 0;
        padding: 8px;
        width: 250px;
    }


}