
body {
  font-family: Arial;
  background: #f0f0f0;
  padding: 10px;
}

h2 {
  color: #70588b;
}

input,
button {
  display: block;
  margin: 5px 0;
  padding: 8px;
  width: 250px;
}

button {
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#extrato {
  margin-top: 20px;
  background: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
  white-space: pre-line;
}